<%= form_for HospitalLike.new do |f| %>
    <%= hidden_field(:hospital_like, :hospital_id, value: params["id"])%>
    <%= hidden_field(:hospital_like, :user_id, value: current_user.id)%>
    <div class="row actions text-center">
      <%= f.submit "Recommend", class: "btn btn-primary btn-resize" %>
    </div>
    <br>
<% end %>