.row
  .col.s12
    %ul.tabs
      %li.tab.col.s3.active
        = link_to "All", "#all"
      %li.tab.col.s3
        = link_to "Following", "#following"
      %li.tab.col.s3
        = link_to "Interests", "#interests"
      - if client?
        %li.tab.col.s3
          = link_to "Mine", "#mine"