%h1 Request Hospital Verification

- if has_unverified_hospital?
  = render 'form'
- else
  #flash.text-center.container
    %p.alert.alert-success All your hospitals has been verified, thanks

%br

= link_to "<i class=\"fa fa-chevron-left\"></i>  Back".html_safe, hospital_verification_requests_path
