%h5.center-align Request Hospital Verification

- if has_unverified_hospital?
  = render 'form'
- else
  %p.center-align.green.accent-2 All your hospitals has been verified, thanks

= link_to "Back", hospital_verification_requests_path, class: 'btn mdi-hardware-keyboard-arrow-left'
