%h5.center-align Request Hospital Verification

- if has_unverified_hospital?
  = render 'form'
- else
  %p.center-align.green.accent-2 All your hospitals has been verified, thanks

= link_to "<i class=\"fa fa-chevron-left\"></i>  Back".html_safe, hospital_verification_requests_path
