%h5.text-center Doctors List
.table-responsive
  %table.table-striped.table-bordered
    %thead
    %tbody
      - @doctor_lists.each do |doctor_list|
        %tr
          %td Name
          %td= doctor_list.user.name
          %td= doctor_list.hospital.name
          %td= link_to '<i class=\"fa fa-user-times\"></i> UnVerify'.html_safe, doctor_list, :method => :delete, :data => { :confirm => "Are you sure you no longer want this Doctor associated with #{doctor_list.hospital.name} hospital?" }
        %tr