/* line 1, /Users/Sunday/workspace/enquire/app/assets/stylesheets/login.css.scss */
.form-signin {
  margin-top: 10px !important;
  max-width: 400px;
  padding: 15px;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
}

/* line 62, /Users/Sunday/workspace/enquire/app/assets/stylesheets/login.css.scss */
.input-field {
  padding: 0 !important;
}

/* line 66, /Users/Sunday/workspace/enquire/app/assets/stylesheets/login.css.scss */
.facebook {
  width: 100%;
}

/* line 70, /Users/Sunday/workspace/enquire/app/assets/stylesheets/login.css.scss */
.session-btn {
  font-size: large;
}

/* line 74, /Users/Sunday/workspace/enquire/app/assets/stylesheets/login.css.scss */
.form-signin-heading {
  font-weight: lighter;
}
