/* line 1, /Users/Sunday/workspace/enquire/app/assets/stylesheets/main.css.scss */
html, body, .valign-wrapper {
  height: 100%;
}

/* line 9, /Users/Sunday/workspace/enquire/app/assets/stylesheets/main.css.scss */
body li {
  margin: auto;
  list-style: none;
}

/* line 14, /Users/Sunday/workspace/enquire/app/assets/stylesheets/main.css.scss */
.content_wrapper {
  overflow-y: scroll;
  bottom: 0 !important;
  margin-top: 90px;
}

/* line 23, /Users/Sunday/workspace/enquire/app/assets/stylesheets/main.css.scss */
.form-wrapper {
  margin: 0 auto 15vh;
  max-width: 700px;
  background-color: #ffffff;
}

/* line 38, /Users/Sunday/workspace/enquire/app/assets/stylesheets/main.css.scss */
.clickable {
  cursor: pointer;
  cursor: hand;
}

/* line 42, /Users/Sunday/workspace/enquire/app/assets/stylesheets/main.css.scss */
table {
  width: 100%;
}

/* line 46, /Users/Sunday/workspace/enquire/app/assets/stylesheets/main.css.scss */
td + tr {
  font-weight: bold !important;
}

/* line 49, /Users/Sunday/workspace/enquire/app/assets/stylesheets/main.css.scss */
.css1 {
  font-size: 1.0em;
}

/* line 50, /Users/Sunday/workspace/enquire/app/assets/stylesheets/main.css.scss */
.css2 {
  font-size: 1.2em;
}

/* line 51, /Users/Sunday/workspace/enquire/app/assets/stylesheets/main.css.scss */
.css3 {
  font-size: 1.4em;
}

/* line 52, /Users/Sunday/workspace/enquire/app/assets/stylesheets/main.css.scss */
.css4 {
  font-size: 1.6em;
}

/* line 54, /Users/Sunday/workspace/enquire/app/assets/stylesheets/main.css.scss */
.verified {
  position: absolute;
  top: 0;
  right: 0;
}
