/* line 1, /Users/Sunday/workspace/enquire/app/assets/stylesheets/navbar.css.scss */
.top-nav {
  height: 90px;
  box-shadow: none;
  padding-left: 30px;
}

/* line 7, /Users/Sunday/workspace/enquire/app/assets/stylesheets/navbar.css.scss */
.nav-wrapper .right {
  margin-right: 20px;
}

/* line 11, /Users/Sunday/workspace/enquire/app/assets/stylesheets/navbar.css.scss */
.side-nav .collapsible-header {
  margin: 0 !important;
}
