/* line 26, /Users/Sunday/workspace/enquire/app/assets/stylesheets/profiles.scss */
.profile {
  color: #bdbdbd;
}

/* line 30, /Users/Sunday/workspace/enquire/app/assets/stylesheets/profiles.scss */
.form-head {
  height: 18vh;
  background-color: #e0e0e0;
}

/* line 35, /Users/Sunday/workspace/enquire/app/assets/stylesheets/profiles.scss */
.form-head img {
  margin: 10px 15px;
}

/* line 39, /Users/Sunday/workspace/enquire/app/assets/stylesheets/profiles.scss */
.form-head .input-field {
  margin-top: 3rem;
}

/* line 43, /Users/Sunday/workspace/enquire/app/assets/stylesheets/profiles.scss */
.form-body {
  padding: 0 60px 30px;
  margin-top: 15vh;
}

/* line 48, /Users/Sunday/workspace/enquire/app/assets/stylesheets/profiles.scss */
.unhappy {
  font-size: small;
  margin-top: 30px;
}
/* line 51, /Users/Sunday/workspace/enquire/app/assets/stylesheets/profiles.scss */
.unhappy a {
  color: #ef9a9a;
}
