/* line 1, /Users/Sunday/workspace/enquire/app/assets/stylesheets/questions.css.scss */
.question-panel {
  height: 300px;
}

/* line 5, /Users/Sunday/workspace/enquire/app/assets/stylesheets/questions.css.scss */
.question-body {
  overflow-y: scroll;
  font-size: small;
  height: 170px;
}
