/* line 1, /Users/Sunday/workspace/enquire/app/assets/stylesheets/scaffolds.scss */
body {
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  background-color: #eeeeee;
  color: #333;
  font-size: 2.5vh;
}

/* line 10, /Users/Sunday/workspace/enquire/app/assets/stylesheets/scaffolds.scss */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* line 16, /Users/Sunday/workspace/enquire/app/assets/stylesheets/scaffolds.scss */
a {
  color: #000;
}
/* line 21, /Users/Sunday/workspace/enquire/app/assets/stylesheets/scaffolds.scss */
a:hover {
  text-decoration: none;
  color: #64AAE4;
  background-color: transparent;
}

/* line 34, /Users/Sunday/workspace/enquire/app/assets/stylesheets/scaffolds.scss */
.shared-links {
  font-weight: lighter;
  line-height: 25px;
}

/* line 39, /Users/Sunday/workspace/enquire/app/assets/stylesheets/scaffolds.scss */
input {
  background-color: transparent;
  border: none;
}
