/* line 1, /Users/Sunday/workspace/enquire/app/assets/stylesheets/sidebar.css.scss */
.sidebar {
  padding-top: 2em;
  position: fixed;
  left: 0;
  overflow-y: scroll;
}

/* line 12, /Users/Sunday/workspace/enquire/app/assets/stylesheets/sidebar.css.scss */
.side-nav .collapsible li {
  padding: 0;
}

/* line 16, /Users/Sunday/workspace/enquire/app/assets/stylesheets/sidebar.css.scss */
.side-nav {
  padding-bottom: 150px !important;
}

/* line 20, /Users/Sunday/workspace/enquire/app/assets/stylesheets/sidebar.css.scss */
.collapsible {
  height: 64px;
  line-height: 64px;
}
