%h1 Edit Doctor Verification Request

= render 'form'

= link_to 'Show', @doctor_verification_request
|
= link_to "<i class=\"fa fa-chevron-left\"></i>  Back".html_safe, doctor_verification_requests_path
