= form_for @answer do |f|
  .field
    = hidden_field(:answer, :question_id, value: params["id"])
  .field
    %br/
    = f.text_area :content, class: "form-control"
  .actions
    %div
      = button_tag type: "submit", class: "button-hollow-b" do
        %i.fa.fa-stethoscope
          Post Help
