<% if user_signed_in? %>
    <%= form_for AnswerLike.new do |f| %>
        <%= hidden_field(:answer_like, :answer_id, value: "#{answer.id}")%>
        <%= hidden_field(:answer_like, :user_id, value: current_user.id)%>
        <div class="row actions text-center">
          <%= f.submit "Like", class: "btn btn-primary btn-resize" %>
        </div>
        <br>
    <% end %>
<% end %>