- if client?
  = form_for AnswerLike.new do |f|
    = hidden_field(:answer_like, :answer_id, value: "#{answer.id}")
    .row.actions.text-center
      = f.submit "Like", class: "btn btn-primary btn-resize"
    %br/
