#flash, #error_explanation, {
  position: absolute;
  top: 7em;
  left: 0;
  width: 90%;
  z-index: 5000;
  margin: 0 5%;
}

#error_explanation {
  color: red;
  position: static;
}

#error_explanation h2 {
  font-size: 1.2em !important;
}

#error_explanation ul {
  font-size: 1.4em !important;
}