/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "font-awesome";
@import "bootstrap-sprockets";
@import "bootswatch/paper/variables";
@import "bootstrap";
@import "bootswatch/paper/bootswatch";
@import url("http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext");


body li {
    margin: auto;
    list-style: none;
}
.navbar {
    background-color: #64AAE4;
    height: 6em;
    margin: auto;
    padding: auto;
}
.navbar a {
    color: #ffffff!important;
}
.navbar a:hover {
    text-decoration: none;
    background-color: transparent;
    color: #000000!important;
}
.logo {
    position: absolute;
    top: 0;
}
.views {
    margin-top: 6em;
}
.sect {
    background-color: whitesmoke;
    box-shadow:  0 1px 1px #333;
    margin: 2em;
    padding: 0.5em 2em;
    height: 65%;
    width: 66%;
    opacity: 0.9;
    overflow: auto;
}

.devise {
    background-color: whitesmoke;
    box-shadow:  0 1px 1px #333;
    margin: 2em;
    padding: 0.5em 2em;
    height: 65%;
    width: 66%;
    opacity: 0.9;
    overflow: auto;
}

.content_wrapper {
    overflow-y: scroll;
    bottom: 0;
    top: 30px;
}

.sidebar li a:hover {
  color: #ffffff;
  background-color: #64AAE4;
}

.login {
    margin: 15% 35%;
    width: 30%;
    height: 40%;
}

.sidebar_toggle .sidebar {
    display: none;
}
