html, body {
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 2em !important;
}

body li {
  margin: auto;
  list-style: none;
}

.content_wrapper {
  overflow-y: scroll;
  bottom: 0 !important;
  margin-top: 6em;
  margin-right: 10px;
}

input, textarea, select, a { outline: none !important; }

.form-wrapper {
  max-width: 600px;
  padding-bottom: 30px;
}

input[type='file'], input[type='file']:focus {
  width: 100%;
  outline: none !important;
}

input[type='number'] {
  background-color: #EAF5FF;
}

.clickable {
  cursor: pointer; cursor: hand;
}

table {
  width: 100%;
}

td + tr {
  font-weight: bold !important;
}