.everyone li, .hospital-list li {
  float: left;
  margin: 20px;
}

.everyone li a {
  width: 200px;
  height: 250px;
  overflow-y: scroll;
}

.hospital-list li+a {
  width: 300px !important;
  height: 350px;
  overflow-y: scroll;
}

.profile-head {
  clear: both;
}

.profile-show {
  max-width: 600px;
}

.form-head {
  height: 18vh;
  background-color: #e0e0e0;
}

.form-head img {
  margin: 10px 15px;
}

.form-head .input-field {
  margin-top: 3rem;
}

.form-body {
  padding: 0 60px 30px;
  margin-top: 15vh;
}

.unhappy a {
  color: #ef9a9a;
}