.everyone li {
  float: left;
  margin: 20px;
  top: 0;
}

.everyone li a {
  width: 200px;
  height: 250px;
  overflow-y: scroll;
}

.profile-head {
  clear: both;
}

.profile-show {
  max-width: 600px;
}