.everyone li, .hospital-list li {
  float: left;
  margin: 20px;
}

.everyone li a {
  width: 200px;
  height: 250px;
  overflow-y: scroll;
}

.hospital-list li+a {
  width: 300px;
  height: 350px;
  overflow-y: scroll;
}

.profile-head {
  clear: both;
}

.profile-show {
  max-width: 600px;
}