/* Medium Devices, Desktops */

/* Custom, iPhone Retina */
@media only screen and (max-width : 768px) {
  .sidebar {
    width: 50%;
    z-index: 10;
  }

  .content_wrapper {
    margin-left: 10px;
  }
}

@media only screen and (min-width : 768px) {
  .sidebar {
    width: 200px;
    display: block !important;
  }

  .content_wrapper {
    margin-left: 220px;
    overflow-y: scroll;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
  .sidebar {
    width: 300px;
  }
  .content_wrapper {
    margin-left: 350px;
  }
}