.sidebar {
  padding-top: 2em;
  position: fixed;
  left: 0;
  top: 7em;
  bottom: 0;
  padding-left: 2em;
  background-color: #f5f5f5;
}

.sidebar li a:hover {
  color: #ffffff;
  background-color: #64AAE4 !important;
}