- if client?
  = form_for Review.new do |f|
    .row
      .input-field.col.s12
        = hidden_field(:review, :hospital_id, value: params["id"])
    .row
      .input-field.col.s12
        = f.text_area :content, class: "validate materialize-textarea"
        %label{for: 'review_content'} Your Review
    .actions
      = button_tag type: "submit", class: "btn mdi-av-volume-up" do
        Post Review