.navbar-fixed
  %nav.top-nav
    .nav-wrapper
      = link_to( image_tag('cadwings.png', width: "190", class: "responsive-img brand-logo"), root_path)
      .right.valign-wrapper
        - unless !user_signed_in?
          - if client?
            = link_to "Ask a Question", new_question_path, class: "mdi-action-announcement"
      .valign-wrapper
        %a.button-collapse{"data-activates"=>"mobile-demo", href: "#"}
          %i.mdi-navigation-menu.full.hide-on-large-only
      -#Dropdown Trigger
      %ul#mobile-demo.side-nav.fixed
        = render "layouts/sidebar"